/* Import font from google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: #ccc;
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
}
#topo, #menu,.destaques, section{
   width: 100%;
   margin:0 auto;
}

/*************TOPO***************/

#topo h1
{
   padding: 20px 0;
   text-align: center;
}
#topo h2{
   display: none;
   text-align: center;
}

/*************MENU**************/

#menu li{
   display:inline;
   text-align: center;
   margin-left: 5px;
}

#menu ul{
   width: 80%;
   margin:0 auto;
   padding-bottom: 20px;
   text-align: center;
}

/**********DESTAQUE***************/
.destaques li{
   width: 100%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}
.destaques li:hover{
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition:all 500ms linear;
   -moz-transition:all 500ms linear;
   transition:all 500ms linear;
}
.destaques li strong{
   width: 100%;
   display: block;
}
#destaque1
{
   text-align: center;
}
.center{
   text-align: center;
}
table, tr, td{
   border: 1px solid #000;
}
table{
   background-color: #ddd;
}
form fieldset{
   border: none;
}
form legend{
   text-transform: uppercase;
   font-size: 1.2em;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid #555;
}
form label, form input:not([type=checkbox]), form select, form textarea{
   width: 100%;
}
form div{
   width: 48%;
   margin: 0 1%;
   height: 180px;
   float: left;
}
button{
   padding: 10px 20px;
   background-color: blue;
   color: #fff;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/*********FOOTER******/

#rodape{
   width: 100%;
   background-color: #333;
   color: #ccc;
   float: left;
   text-align: center;
}
#rodape ul
{
   padding: 20px 0;
}
#rodape li 
{
   display: inline;
}

/******MEDIA QUERYS****/
@media (min-width: 576px)
{
#topo h1{
   animation:introducao 2s linear infinite normal;
   -webkit-animation:introducao 2s linear infinite normal;
   -moz-animation:introducao 2s linear infinite normal;
}
@-webkit-keyframes introducao{
   0%{color: gray; -webkit-transform:rotate(0deg);}
   25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
   50%{color: cadetblue; -webkit-transform:rotate(0deg);}
   75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
   100%{color: darkcyan; -webkit-transform:rotate(0deg);}
}
@keyframes introducao{
   0%{color: gray; -webkit-transform:rotate(0deg);}
   25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
   50%{color: cadetblue; -webkit-transform:rotate(0deg);}
   75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
   100%{color: darkcyan; -webkit-transform:rotate(0deg);}
}

#topo h2{
   display: block;
   font-size: 1.2em;
   padding: 20px 0;
   text-align: center;
}

/*************DESTAQUE************/
.destaques li{
   width: 50%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}
}
@media (min-width: 576px) and (max-width: 767.98px)
{
   #topo h1{
      animation:introducao 2s linear infinite normal;
      -webkit-animation:introducao 2s linear infinite normal;
      -moz-animation:introducao 2s linear infinite normal;
   }
   @-webkit-keyframes introducao{
      0%{color: gray; -webkit-transform:rotate(0deg);}
      25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
      50%{color: cadetblue; -webkit-transform:rotate(0deg);}
      75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
      100%{color: darkcyan; -webkit-transform:rotate(0deg);}
   }
   @keyframes introducao{
      0%{color: gray; -webkit-transform:rotate(0deg);}
      25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
      50%{color: cadetblue; -webkit-transform:rotate(0deg);}
      75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
      100%{color: darkcyan; -webkit-transform:rotate(0deg);}
   }
   
   #topo h2{
      display: block;
      font-size: 1.4em;
      padding: 10px 0;
      text-align: center;
   }
   
   /*************DESTAQUE************/
   .destaques li{
      width: 32%;
      float: left;
      text-align: center;
      list-style: none;
      padding: 40px 0;
   }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
   #topo h1{
      animation:introducao 2s linear infinite normal;
      -webkit-animation:introducao 2s linear infinite normal;
      -moz-animation:introducao 2s linear infinite normal;
   }
   @-webkit-keyframes introducao{
      0%{color: gray; -webkit-transform:rotate(0deg);}
      25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
      50%{color: cadetblue; -webkit-transform:rotate(0deg);}
      75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
      100%{color: darkcyan; -webkit-transform:rotate(0deg);}
   }
   @keyframes introducao{
      0%{color: gray; -webkit-transform:rotate(0deg);}
      25%{color: darkslategray; -webkit-transform:rotate(0deg) scale(1.2);}
      50%{color: cadetblue; -webkit-transform:rotate(0deg);}
      75%{color: cornflowerblue; -webkit-transform:rotate(0deg) scale(1.2);}
      100%{color: darkcyan; -webkit-transform:rotate(0deg);}
   }
   
   #topo h2{
      display: block;
      font-size: 1.7em;
      padding: 20px 0;
      text-align: center;
   }
   
   /*************DESTAQUE************/
   .destaques li{
      width: 25%;
      float: left;
      text-align: center;
      list-style: none;
      padding: 20px 0;
   }
}